<div class="root-login">

  <div class="header-login">
    <img src="../../../assets/logo-decora.png" alt="logo-decora" class="logo-decora" />
    <h1 class="label-login"> | Login</h1>
  </div>

  <mat-card class="card-login">
    <form [formGroup]="loginForm">
      <mat-card-content class="content-card">

        <mat-form-field>
          <input matInput placeholder="Usuário" type="text" formControlName="email">
          <mat-error *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine">
            <span *ngIf="loginForm.controls['email'].errors.required">
              Campo obrigatório.
            </span>
            <span *ngIf="loginForm.controls['email'].errors.email">
              Email inválido.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Senha" [type]="showPassword ? 'text' : 'password'" formControlName="password">
          <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine">
            <span *ngIf="loginForm.controls['email'].errors.required">
              Campo obrigatório.
            </span>
          </mat-error>
        </mat-form-field>

      </mat-card-content>
    </form>
    <mat-card-actions class="actions-card">
      <button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">ENTRAR</button>
    </mat-card-actions>
  </mat-card>
</div>