.header {
  background-color: #d8d6d6;
  min-height: 56px !important;
  height: 56px;
}

.continer-logo {
  display: flex;
  align-items: center;
  height: 56px;
}

.logo-decora {
  height: 40px;
  margin-right: 4px;
}

.container-user {
  display: flex;
  align-items: center;
}

.hello-user {
  font-size: 16px;
  margin-right: 8px;
}

.img-decora {
  height: 32px;
}

.icon-exit {
  cursor: pointer;
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}
